<!DOCTYPE html>
<!--
     ____
    |    \              |   |
    |     |  ___  ___   |___|  __   __   __
    |     |   |  |_     |   | |__| |__| |  \ 
    |____/   _|_ |___   |   | |  | |  \ |__/

    The Die Hard Water Puzzle Solver
                            
    Proudly brought to you by Bob Wall
-->

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="KEYWORDS" content="Die Hard, Container Game, Jug Gamet">
        <meta name="DESCRIPTION" content="Container">       
        <meta http-equiv="CONTENT-LANGUAGE" content="EN">
        <meta name="revisit-after" content="14 days">
        <meta name="Author" content="Bob Wall">
        <meta name="Copyright" content="Copyright 2012. All Rights Reserved.">        

        <title>Die Hard - @ViewBag.Title</title>
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->        

        <link href="@Url.Content("~/Content/CSS/container.css")" rel="stylesheet" type="text/css" />
    </head>  

    <body>
        <div class="body">
            @RenderBody()               
        </div>
        
        @RenderSection("JavaScript", required: false) 
    </body>
</html>

                       
